body {
    background-color: #0000C8;
    color: #FFF;
}

div.main {
    border-style: solid;
    border-color: #C80000;
    height: 272px;
}

div.center {
    width: 512px;
    padding: 0;
    margin: 0 auto;
}

