<!DOCTYPE html>
<html>
  <head>
    <title>Paradise Café</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>

    <img id="img-title" />

    <div id="div-canvas">

    </div>

    <ul id="ul-teclas">

    </ul>

  </body>

</html>