<!DOCTYPE html>
<html>
  <head>
    <title>Paradise Café</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id="canvasDiv" class="center main"></div>
    <div id="infoDiv" class="center">
      Teclas:
      <ul>
        <li>c - anal</li>
        <li>f - vaginal</li>
        <li>b - oral</li>
      </ul>
    </div>
  </body>
</html>