<!DOCTYPE html>
<html>
  <head>
    <title>Paradise Café</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>

    <img id="img-title" />

    <div id="div-canvas">

    </div>

    <ul id="ul-teclas">
      <li class="user-action" id="li-anal" data-action="anal">c<div>anal</div></li>
      <li class="user-action" id="li-vaginal" data-action="vaginal">f<div>vaginal</div></li>
      <li class="user-action" id="li-oral" data-action="oral">b<div>oral</div></li>
    </ul>

  </body>

</html>