body {
    background-color: #0000C8;
    color: #FFF;
}

div#canvasDiv {
    border-style: solid;
    border-color: #C80000;
    height: 272px;
}

div#canvasDiv, div#titleDiv, div#infoDiv {
    width: 512px;
    padding: 0;
    margin: 0 auto;
}

div#titleDiv {
    text-align:center;
    margin: 20px auto;
}

div#infoDiv {
    margin: 20px auto;
}

